.body{
background-color: rgb(17, 17, 17);
overflow: hidden;
}
.char{
    color: white;
}
.title{
    color: blanchedalmond;

}
.bigtitle{
    color: white;
    font-size: 20px;
}
.img{
    background-image: url(../iphone-12-pro-og-202009.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}
li a:hover{
    color: cyan;
    text-decoration:underline;
}